/* 
    GOOGLE FONTS
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* 
    ROOT STYLES
*/
:root{
    --primary: #1f74b4;
    --primary-alternate: #125b92;
    --secondary: #ff6600;
    --secondary-alternate: #ff9900;
    --hover: #0b355d;
    --black: #000000;
    --gray: #cccccc;
    --gray-alternate: #f1f1f1;
    --red: #ff0000;
    --white: #ffffff;

    --header-bg-color: var(--white);
    --header-border-color: var(--white);
    --header-links: var(--hover);
    --header-links-hover: var(--primary);
    --header-links-border: var(--primary);

    --footer-bg-color: var(--hover);
    --footer-links: var(--white);
    --footer-links-hover: var(--white);
    --footer-paragraph-color: var(--white);

    --bg-page-color: var(--white);

    --btn-bg-color: var(--primary);
    --btn-text-color: var(--white);
    --btn-bg-color-hover: var(--primary-alternate);
    --btn-text-color-hover: var(--white);

    --carousel-title-color: var(--white);
    --carousel-description-color: var(--white);
    --carousel-item-bg-color: rgba(0,0,0,0.8);

    --oswald: 'Oswald', sans-serif!important;

}
/* 
    GENERAL STYLES
*/
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html,body{
    background-color: var(--bg-page-color);
}
.ce-headline {
    color: var(--hover);
    padding: 30px 0 0;
}
.primary-color{
    color: var(--primary);
}
.hover-color{
    color: var(--hover);
}
.gsweb-vide-responsive,.wp-block-embed__wrapper{
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.gsweb-vide-responsive iframe,
.gsweb-vide-responsive object,
.gsweb-vide-responsive embed,
.gsweb-vide-responsive video
.wp-block-embed__wrapper iframe,
.wp-block-embed__wrapper object,
.wp-block-embed__wrapper embed,
.wp-block-embed__wrapper video{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.btn {
    background-color: var(--btn-bg-color)!important;
    color: var(--btn-text-color)!important;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 25px;
    text-transform: uppercase;
}
.btn:hover {
    background-color: var(--btn-bg-color-hover)!important;
    color: var(--btn-text-color-hover)!important;
}
.btn-load-more{
    display: block!important;
    font-size: 26px!important;
    font-weight: bold!important;
    padding: 5px!important;
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}
.btn-load-more:disabled,.btn-load-more:disabled:hover{
    background-color: var(--gray)!important;
}
.btn.btn-no-rounded{
    border-radius: 0!important;
}
.text-justify{
    text-align: justify;
}
.container {
	max-width: 1500px!important;
	width: 100%!important;
}
.oswald {
    font-family: var(--oswald);
}
@media all and (max-width: 1600px){
    .container {
        max-width: 1400px!important;
        width: 100%!important;
    }
}

@media all and (max-width: 767px){
    .text-justify{
        text-align: left;
    }
}

/* 
    HEADER STYLES
*/
header {
    background-color: var(--header-bg-color);
    border-bottom: 2px solid var(--header-border-color);
    padding: 20px 0 15px;
}
.logo-header {
    margin-top: -5px;
}
.logo-header img{
    height: auto;
    max-width: 200px;
    width: 100%;
}
.mobile-mnu{
    cursor: pointer;
    display: none;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 3px;
}
.mobile-mnu:hover{
    color: var(--white)!important;
    background: var(--hover)!important;
}
.mobile-mnu .fa-times{
    display: none;
    font-size: 30px;
}
.mobile-mnu.gsweb-active{
    display: block;
}
.mobile-mnu.gsweb-active.gsweb-enabled .fa-times{
    display: block;
    margin: 0 auto;
}
.mobile-mnu.gsweb-active.gsweb-enabled .fa-bars{
    display: none;
}
.navigation-header ul{
    padding: 15px 0;
    margin: 0!important;
}
.navigation-header.mnuMobile{
    display: block!important;
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    max-height: 100%;
    z-index: 8888;
    background: var(--secondary);
    transition: all ease-in-out 0.4s;
}
.navigation-header.mnuMobile.active{
    left: 0;
}
.navigation-header ul > li {
    display: inline-block;
    list-style: none;
}
.navigation-header ul > li > a{
    color: var(--header-links);
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    line-height: 22px;
    margin-left: 15px;
    text-decoration: none;
}
.navigation-header ul > li > a:hover{
    color: var(--header-links-hover);
    border-bottom: 2px solid var(--header-links-border);
}

.navigation-header.mnuMobile ul > li{
    display: block;
    padding: 10px 0;
}
.navigation-header.mnuMobile ul > li > a{
    color: var(--white)
}
.navigation-header.mnuMobile ul > li > a:hover{
    color: var(--white);
    border-bottom: 2px solid var(--white);
}

@media all and (max-width: 1200px){
    .navigation-header{
        display: none!important;
    }
    .mobile-mnu{
        display: block;
    }
}
@media all and (max-width: 991px){
    header .btn{
        margin-top: 15px;
    }
}
@media all and (max-width: 767px){
    .logo-header{
        text-align: center;
    }
    .mobile-mnu{
        background: var(--primary);
        color:var(--white);
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        text-align: center!important;
        z-index: 9999;
    }
}

/* 
    MAIN HOME PAGE
*/
main.home-page {
    padding: 10px 0 40px;
}
main.home-page .carousel-inner {
    height: 340px;
}
main.home-page .carousel-item {
    position: relative;
}
main.home-page .carousel-item::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--carousel-item-bg-color);
}
main.home-page .carousel-item .description-Item{
    position: absolute;
    padding: 0 120px;
    top: 35%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
}
main.home-page .carousel-item h1{
    color: var(--carousel-title-color);
    margin-bottom: 15px!important;
}
main.home-page .carousel-item p{
    color: var(--carousel-description-color);
}
main.home-page .carousel-item p.post-details{
    font-size: 16px!important;
    margin-bottom: 0!important;
    text-transform: capitalize;
}
main.home-page .cib-about{
    background-color: var(--gray-alternate);
    margin: 30px auto;
    padding-right: 40px;
}
main.home-page .cib-about .about-description{
    padding: 0 30px;
}
main.home-page .cib-about img{
    height: auto;
    max-width: 500px;
    width: 100%;
    vertical-align: bottom;
    padding-top: 90px;
    background: var(--hover);
}
main.home-page .cib-about h2{
    color: var(--hover);
    font-size: 46px;
    font-weight: bold;
    line-height: 54px;
}
main.home-page .cib-about h3{
    color: var(--hover);
    font-weight: bold;
}
main.home-page .cib-about p{
    font-size: 16px;
    line-height: 24px;
}
main.home-page .cib-about p:last-of-type{
    margin-bottom: 0!important;
}

@media all and (max-width: 1250px){
    main.home-page .cib-about{
        padding: 40px;
    }
    main.home-page .cib-about .img-moors{
        text-align: center;
    }
    main.home-page .cib-about img{
        padding: 50px 0 0;
        max-width: 300px;
        margin-bottom: 20px;
    }
    main.home-page .cib-about p{
        font-size: 19px;
        line-height: 30px;
    }
}

@media all and (max-width: 767px){
    main.home-page .carousel-item{
        text-align: center;
    }
    main.home-page .carousel-item h1{
        font-size: 20px;
        text-align: center;
    }
    main.home-page .carousel-item p{
        display: none;
    }
    main.home-page .carousel-item p.post-details,main.home-page .carousel-item p.post-btn{
        display: block;
        text-align: center;
    }
    main.home-page .carousel-inner {
        height: 215px;
    }
    main.home-page .carousel-item .description-Item{
        position: absolute;
        padding: 0;
        top: 15px;
        left: 0;
        width: 100%;
        transform: translate(0);
        z-index: 1;
    }
    main.home-page .carousel-item p.post-btn a{
        font-size: 10px;
    }
    main.home-page .carousel-item p.label-gsweb{
        font-size: 10px!important;
        line-height: 10px;
        padding: 5px 15px;
    }
    main.home-page .cib-about{
        padding: 20px;
    }
    main.home-page .cib-about .about-description{
        padding: 0;
    }
    main.home-page .cib-about p{
        font-size: 16px;
        line-height: 22px;
    }
}

/* 
    HOME PAGE AD
*/
.block-home-page{
    background-color: transparent;
    border: 2px solid var(--gray);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 40px 0;
    text-align: center;
}
.block-home-page h1{
    color: var(--hover);
    font-weight: 700;
    font-size: 50px;
    line-height: 42px;
    margin-bottom: 30px;
}
.block-home-page h1 > strong{
    color: var(--secondary);
    display: inline-block;
    padding-top: 10px;
    font-weight: 600;
    font-size: 52px;
}
.block-home-page input{
    font-size: 19px!important;
    padding: 10px 10px 10px 50px;
    width: 100%!important;
}
.block-home-page p{
    color: var(--white)!important
}
.block-home-page .sf_field {
    position: relative;
}
.block-home-page .infusion-submit {
    margin: 15px auto 40px;
}
.block-home-page .sf_field_first_name::before {
    position: absolute;
    top: 10px;
    left: 0;
    content: '\f007';
    font-size: 20px;
    color:var(--secondary-alternate);
    font-family: 'Font Awesome\ 5 Free';
    background: #E9ECEF;
    border-right: 1px solid #ccc;
    border-left: 1px solid rgb(133,133,133);
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.block-home-page .sf_field_email::before {
    position: absolute;
    top: 1px;
    left: 0;
    content: '\f2b6';
    font-size: 20px;
    color:var(--secondary-alternate);
    font-family: 'Font Awesome\ 5 Free';
    background: #E9ECEF;
    border-right: 1px solid #ccc;
    border-left: 1px solid rgb(133,133,133);
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.block-home-page .sf_field_cb{
    display: none!important;
}
.block-home-page label.text{
    display: none!important;
}
.block-home-page .w2linput.submit{
    font-size: 22px;
    line-height: 22px!important;
    font-family: var(--oswald);
    border: none!important;
    padding: 15px!important;
    width: 100%;
    margin-top: 0!important;
    background-color: var(--btn-bg-color)!important;
    color: var(--btn-text-color)!important;
    font-weight: bold;
    text-transform: uppercase;
}
.block-home-page .w2linput.submit:hover {
    background-color: var(--btn-bg-color-hover)!important;
    color: var(--btn-text-color-hover)!important;
}

@media all and (max-width: 991px){
    .block-home-page{
        margin-top: 30px!important;
    }
}
@media all and (max-width: 767px){
    .block-home-page h1{
        font-size: 28px;
        line-height: 32px;
    }
    .block-home-page h1 > strong{
        padding-top: 5px;
        font-size: 36px;
    }
    .block-home-page h1 > span{
        font-size: 22px;
    }
}

/* 
    ARCHIVES
*/
main.archives{
    padding: 30px 0;
}
main.archives .sidebar{
    padding: 30px 0;
}
.block-title{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    position: relative;
}
.block-title::before{
    content:'';
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    background: var(--carousel-item-bg-color);
    height: 100%;
}
.block-title h1{
    color: var(--white);
    font-size: 60px;
    text-align: center;
}
.block-title p{
    color: var(--secondary-alternate);
    font-size: 16px;
    text-align: center;
}
.recent-posts{
    background-color: var(--gray-alternate);
    padding: 30px;
}
.recent-posts article{
    display: block;
    padding: 15px;
    background-color: var(--white);
    width: 100%;
}
.recent-posts article h3,.recent-posts article h3 > a{
    color: var(--black);
}
.recent-posts article p.post-details{
    font-size: 14px;
    color: var(--gray);
    text-transform: capitalize;
}
main.archives .recent-posts{
    padding: 40px;
}
main.archives .recent-posts article{
    background-color: var(--gray-alternate)!important;
}
body.single .recent-posts article,body.page .recent-posts article{
    padding: 15px;
    background-color: var(--gray-alternate);
}
body.page .recent-posts{
    padding: 10px 0!important;
}
body.archive.category-videos .recent-posts{
    padding: 30px 20px!important;
}
body.archive.category-videos article{
    padding: 0!important;
}
body.archive.category-videos article p{
    margin-bottom: 0px!important;
}
body.home .recent-posts article > .row {
    height: 100%;
}
.img-post-thumbnail {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.img-post-thumbnail > img{
    height: 100%;
    width: auto;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: none;
}

@media all and (max-width: 991px){
    .recent-posts article img{
        padding: 15px 0;
    }
    .img-post-thumbnail {
        display: block;
        height: auto;
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .img-post-thumbnail > img{
        height: auto;
        width: auto;
        min-width: auto;
        max-width: 100%;
        position: relative;
        top: auto;
        left: auto;
        transform: translate(0, 0);
    }
}
@media all and (max-width: 767px){
    .recent-posts,main.archives .recent-posts{
        padding: 20px;
    }
}

/* 
    SINGLE
*/
main.single img{
    padding-bottom: 30px;
}

/* 
    FOOTER STYLES
*/
footer {
    background-color: var(--footer-bg-color);
    padding: 60px 0 40px;
}
footer p{
    color: var(--footer-paragraph-color);
    font-size: 16px;
    font-weight: 300;
    padding: 0 0 15px;
}
.logo-footer {
    padding-bottom: 1rem;
}
.logo-footer img {
    height: auto;
    max-width: 100%;
}
.navigation-footer ul{
    padding: 15px 0;
}
.navigation-footer ul > li {
    display: block;
    list-style: none;
}
.navigation-footer ul > li > a{
    color: var(--footer-links);
    display: inline-block;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 15px;
    text-decoration: none;
}
.navigation-footer ul > li > a:hover{
    color: var(--footer-links-hover);
    text-decoration: underline;
}

@media all and (max-width: 767px){
    .logo-footer{
        text-align: center;
    }
    .navigation-footer ul > li > a,footer p{
        font-size: 15px;
    }
}

/* 
    TOP NAVBAR INFORMATION STYLES
*/
.gsweb-hellobar-rogueinvesting{
    background: var(--red);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 8888;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.gsweb-hellobar-rogueinvesting > .close-gsweb-hellorbar-rogueinvesting{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: var(--white);
    z-index: 8889;
}
.gsweb-hellobar-rogueinvesting>p{
    font-size: 16px; line-height: 16px;
    text-align: center;
    padding: 15px 0;
    margin: 0;
    color: var(--white);
    font-weight: bold;
}
.gsweb-hellobar-rogueinvesting>p>a,.gsweb-hellobar-rogueinvesting>p>a:visited{
    font-size: 16px; 
    line-height: 16px;
    color: var(--white);
    text-decoration: underline;
}
body.gsweb-hellobar-rogueinvesting-active{
    margin-top: 46px;
}
@media all and (max-width: 767px){
    body.gsweb-hellobar-rogueinvesting-active{
        margin-top: 62px;
    }
    .gsweb-hellobar-rogueinvesting>p{
        padding: 15px 30px 15px 15px;
    }
    .gsweb-hellobar-rogueinvesting > .close-gsweb-hellorbar-rogueinvesting{
        top: 15px;
        right: 12px;
    }
}
